openapi: '3.0.2'
info:
  title: Box GPT
  version: '1.0'
servers:
  - url: https://boxgpt.herokuapp.com
paths:
  /folders:
    get:
      operationId: getFolders
      summary: Get the list of folders
      responses:
        '200':
          description: OK
  /files:
    get:
      operationId: getFiles
      summary: List user files
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'
                example: 
                  id: "12345"
                  type: "file"
                  name: "Contract.pdf"
  /files/content:
    get:
      operationId: getFilesContent
      summary: Retrieve content by file id to be added to chatgpt context
      parameters:
        - in: path
          name: file_id
          schema:
            type: string
          required: true
          description: File Id of the file to retrieve content to be added to chatgpt context
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
                example: This is my file content
components:
  schemas:
    Files:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        name:
          type: string